a.enabledLink {
  color: #0000FF;
  font-weight: normal;
  cursor: pointer;
}

a.enabledLink:hover {
  text-decoration: underline;
}

a.disabledLink {
  color: black;
  font-weight: bold;
  cursor: text;
}

a.disabledLink:hover {
  text-decoration: none;
}

#feedback {
  background-color: #EEEEEE;
  padding: 0 1px;
}

#kerhot,
#feedback {
  margin-top: 15px;
}

#kerhot h3 {
  margin-top: 15px;
}

.club {
  margin-top: 10px;
}

.highlight {
  background-color: yellow;
  padding: 0 1px;
}

.exception {
  background-color: red;
  padding: 0 1px;
}
